AOS/NetBeansProjects/FrontendProjetSOAP/src/wsdl/localhost_8080/ProjetSOAP/ReservationsServiceImplService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://reservation.soap.ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://reservation.soap.ws/">

<xs:element name="getAllReservations" type="tns:getAllReservations"/>

<xs:element name="getAllReservationsResponse" type="tns:getAllReservationsResponse"/>

<xs:complexType name="getAllReservations">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllReservationsResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservation" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reservation">
<xs:sequence>
<xs:element name="numeroClient" type="xs:int"/>
<xs:element name="numeroPlace" type="xs:int"/>
<xs:element name="numeroReservation" type="xs:int"/>
<xs:element name="numeroTrain" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>