AOS/NetBeansProjects/FrontendJavaProjetSOAP/src/wsdl/localhost_8080/ProjetSOAP/helloworld.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://helloworld.soap.ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://helloworld.soap.ws/">

<xs:element name="HelloWorldParam" type="tns:HelloWorldParam"/>

<xs:element name="HelloWorldParamResponse" type="tns:HelloWorldParamResponse"/>

<xs:element name="HelloWorldSimple" type="tns:HelloWorldSimple"/>

<xs:element name="HelloWorldSimpleResponse" type="tns:HelloWorldSimpleResponse"/>

<xs:complexType name="HelloWorldSimple">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="HelloWorldSimpleResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="HelloWorldParam">
<xs:sequence>
<xs:element name="param" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="HelloWorldParamResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>