AOS/NetBeansProjects/FrontendJavaProjetSOAP/src/wsdl/localhost_8080/ProjetSOAP/trainservice.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://train.soap.ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://train.soap.ws/" name="trainservice">
<types>
<xsd:schema>
<xsd:import namespace="http://train.soap.ws/" schemaLocation="http://localhost:8080/ProjetSOAP/trainservice?xsd=1"/>
</xsd:schema>
</types>
<message name="SearchTrains">
<part name="parameters" element="tns:SearchTrains"/>
</message>
<message name="SearchTrainsResponse">
<part name="parameters" element="tns:SearchTrainsResponse"/>
</message>
<message name="GetAllTrains">
<part name="parameters" element="tns:GetAllTrains"/>
</message>
<message name="GetAllTrainsResponse">
<part name="parameters" element="tns:GetAllTrainsResponse"/>
</message>
<message name="DeleteTrain">
<part name="parameters" element="tns:DeleteTrain"/>
</message>
<message name="DeleteTrainResponse">
<part name="parameters" element="tns:DeleteTrainResponse"/>
</message>
<message name="UpdateTrain">
<part name="parameters" element="tns:UpdateTrain"/>
</message>
<message name="UpdateTrainResponse">
<part name="parameters" element="tns:UpdateTrainResponse"/>
</message>
<message name="AddTrain">
<part name="parameters" element="tns:AddTrain"/>
</message>
<message name="AddTrainResponse">
<part name="parameters" element="tns:AddTrainResponse"/>
</message>
<message name="SearchTrainsAdmin">
<part name="parameters" element="tns:SearchTrainsAdmin"/>
</message>
<message name="SearchTrainsAdminResponse">
<part name="parameters" element="tns:SearchTrainsAdminResponse"/>
</message>
<message name="CancelTrain">
<part name="parameters" element="tns:CancelTrain"/>
</message>
<message name="CancelTrainResponse">
<part name="parameters" element="tns:CancelTrainResponse"/>
</message>
<portType name="trainservice">
<operation name="SearchTrains">
<input wsam:Action="http://train.soap.ws/trainservice/SearchTrainsRequest" message="tns:SearchTrains"/>
<output wsam:Action="http://train.soap.ws/trainservice/SearchTrainsResponse" message="tns:SearchTrainsResponse"/>
</operation>
<operation name="GetAllTrains">
<input wsam:Action="http://train.soap.ws/trainservice/GetAllTrainsRequest" message="tns:GetAllTrains"/>
<output wsam:Action="http://train.soap.ws/trainservice/GetAllTrainsResponse" message="tns:GetAllTrainsResponse"/>
</operation>
<operation name="DeleteTrain">
<input wsam:Action="http://train.soap.ws/trainservice/DeleteTrainRequest" message="tns:DeleteTrain"/>
<output wsam:Action="http://train.soap.ws/trainservice/DeleteTrainResponse" message="tns:DeleteTrainResponse"/>
</operation>
<operation name="UpdateTrain">
<input wsam:Action="http://train.soap.ws/trainservice/UpdateTrainRequest" message="tns:UpdateTrain"/>
<output wsam:Action="http://train.soap.ws/trainservice/UpdateTrainResponse" message="tns:UpdateTrainResponse"/>
</operation>
<operation name="AddTrain">
<input wsam:Action="http://train.soap.ws/trainservice/AddTrainRequest" message="tns:AddTrain"/>
<output wsam:Action="http://train.soap.ws/trainservice/AddTrainResponse" message="tns:AddTrainResponse"/>
</operation>
<operation name="SearchTrainsAdmin">
<input wsam:Action="http://train.soap.ws/trainservice/SearchTrainsAdminRequest" message="tns:SearchTrainsAdmin"/>
<output wsam:Action="http://train.soap.ws/trainservice/SearchTrainsAdminResponse" message="tns:SearchTrainsAdminResponse"/>
</operation>
<operation name="CancelTrain">
<input wsam:Action="http://train.soap.ws/trainservice/CancelTrainRequest" message="tns:CancelTrain"/>
<output wsam:Action="http://train.soap.ws/trainservice/CancelTrainResponse" message="tns:CancelTrainResponse"/>
</operation>
</portType>
<binding name="TrainServicePortBinding" type="tns:trainservice">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="SearchTrains">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetAllTrains">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteTrain">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="UpdateTrain">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AddTrain">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SearchTrainsAdmin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CancelTrain">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="trainservice">
<port name="TrainServicePort" binding="tns:TrainServicePortBinding">
<soap:address location="http://localhost:8080/ProjetSOAP/trainservice"/>
</port>
</service>
</definitions>